:root {
  --main-color: blue;
  --nav-bar-color: #c8c8c8;
}
.navBar{
    display: flex;
    justify-content: space-between; 
    padding: 15px;
    align-items: center;
    background-color: var(--nav-bar-color)  ;
}
.div-icon{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}